<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/form.css">
    <title>
        <%=pageTitle%>
    </title>
</head>
<%- include("../includes/nav.ejs") %>
    <form action="/login" name="loginForm" class="form" method="post">
        <h2 class="form-heading">Welcome to webTRON Shop</h2>
        <div class="form-control">
            <label for="email">Email:</label>
            <input type="text" class="<%= error.find(ele=>ele.param==='email') ? 'invalid': ' '%>" name="email"
                id="email" value="<%=oldValue.email%>" required>
        </div>
        <div class="form-control">
            <label for="password">Password:</label>
            <input type="password" class="<%= error.find(ele=>ele.param==='password') ? 'invalid': ' '%>"
                name="password" id="password" values="<%=oldValue.password %>" required>
        </div>
        <input type="hidden" name="_csrf" value="<%=csrfToken %>">
        <button type="submit" class="btn">Log In</button>
    </form>
    <a href="/forget-password" class="btn forget-password-btn">Forget Password?</a>

    <%- include("../includes/footer.ejs") %>

        <body>

        </body>

</html>