<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/form.css">
    <title>
        <%=pageTitle%>
    </title>
</head>
<%- include("../includes/nav.ejs") %>
    <form action="/reset-password" name="resetPasswordForm" class="form" method="POST">
        <div class="form-control">
            <label for="password">Enter New Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <input type="hidden" name="_id" value="<%= _id %>">
        <input type="hidden" name="token" value="<%= token %>">
        <input type="hidden" name="_csrf" value="<%=csrfToken %>">
        <button type="submit" class="btn">Reset</button>
    </form>
    <%- include("../includes/footer.ejs") %>

        <body>

        </body>

</html>