<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/cart.css">

</head>

<body>
    <%- include("../includes/nav") %>
        <main>
            <% if(products.length>0){ %>
                <% products.forEach(item=>{ %>
                    <div class="item">
                        <p class="product-title">
                            <%=item.productID.title %>
                        </p>
                        <p class="product-qty">
                            Qty:<%=item.quantity%>
                        </p>
                        <p class="product-price">Price:<%=item.productID.price%>
                        </p>
                        <form action="/delete-cart-item" method="post">
                            <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                            <input type="hidden" name="productID" value="<%=item.productID._id%>">
                            <button type="submit" class="btn btn-red btn-delete-item">Delete</button>
                        </form>
                    </div>

                    <%})%>
                        <!-- Order Button Here -->
                        <form action="/order-items" method="post">
                            <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                            <button class="btn order-btn">Order Now</button>
                        </form>
                        <br>
                        <br>
                        <h1>Total Price: Rs.<%=totalPrice %>
                        </h1>
                        </ul>

                        <%}else{%>
                            <h1 class="warning">No Products in Cart!!!</h1>
                            <%}%>


        </main>
        <%- include("../includes/footer.ejs") %>

</body>

</html>