<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        h3{
            font-size: 2.2rem;
        }
        pre {
            font-size: 1.8rem;
        }
    </style>

</head>

<body>
    <%- include("../includes/nav") %>

        <% if(products.length>0){ %>
            <h1>Your orders:</h1>
            <hr>
            <% products.forEach(product=>{%>
                <pre><%=product.title%>    <%=product.quantity%></pre>

                <%})%>
                    <h3>Total Price:<%=totalPrice%>
                    </h3>


                    <%}else{%>

                        <h1>Don't have any orders!</h1>
                        <%}%>




</body>

</html>