<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        * {
            line-height: 1.4;
        }

        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.8rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        pre {
            font-size: 1.8rem;
        }
    </style>

</head>

<body>
    <%- include("../includes/nav") %>

        <% if(data.length>0){ %>
            <h1>Your orders:</h1>
            <hr>
            <% data.forEach(d=>{%>
                <h2>Order ID:<%=d._id %>
                </h2>
                <h3>Items:</h3>

                <%d.items.forEach(product=>{%>
                    <pre><%=product.title%>    <%=product.quantity%></pre>
                    <%})%>
                        <br>
                        <br>
                        <hr>
                        <%})%>
                            <h1>Total Price:<%= totalPrice %>
                            </h1>


                            <%}else{%>

                                <h1>Don't have any orders!</h1>
                                <%}%>




</body>

</html>